/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.oxfmtrc.json export-ignore
/.phpunit.result.cache export-ignore
/CONTRIBUTING.md export-ignore
/LICENSE.txt export-ignore
/README.md export-ignore
/UPGRADING.md export-ignore
/bin export-ignore
/composer.lock export-ignore
/mago.toml export-ignore
/node_modules export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/screenshots export-ignore
/tests export-ignore
/wp-content export-ignore
/mago.toml export-ignore
/package-lock.json export-ignore
/package.json export-ignore