includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 9 # max
    scanFiles:
        - acf-svg-icon-picker.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - ./acf-svg-icon-picker.php
        - ./
    excludePaths:
        - tests/*
        - docs/*
        - vendor/*
        - node_modules/*
        - wp-content/*
    ignoreErrors:
